@charset "UTF-8";

/*
This is the CSS for the Hummus recipe. You can use is as u want to.  Nah, no need to gice credit to me.
*/

/*
RESET
*/
html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: hsla(172, 27%, 73%, 0.527);
  font-size: 14px;
}

/*
Container : Wrapper
*/
.container {
  font-family: "Segoe UI", sans-serif;
  width: 980px;
  background-color: hsla(178, 21%, 70%, 0.192);
  margin: 0px auto;
  border: 5px solid hsla(178, 21%, 70%, 0.192);
}

.container > * {
  margin-left: 20px;
}
