body{
    background-color: beige;
    font:100% Georgia, "Times New Roman",Times,serif;
}
div{
    background-color: azure;
    margin: 0px 30px 0px 30px;
    border: 5px  #cccccc solid;
    padding :30px;
}

#div2{
    border-bottom: 0;
}
#div3{
    
    border-top: 0
    
}
#container{
    background-color:burlywood;
    margin:  0 auto;
    
    border: none;
}
p{
    padding:10px 0px 0px 40px;
}
h1{
    padding:20px 0px 0px 20px;
}
h2{
    margin: auto;
}
ul{
    padding: 0 auto;
}