body {
    margin: 5px 5px;
  }
  p {
    padding: 0;
    margin: 0;
  }
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: left;
  }
  table,
  th,
  td {
    background-color: antiquewhite;
    border: 2px grey solid;
    border-collapse: collapse;
    font-family: sans-serif;
    text-align: center;
    font-size: 16px;
    margin: 0 auto;

  }
  caption {
    font-size: 24px;
    font-weight: bold;
    background-color: rgb(233, 161, 110);
    border: 2px grey solid;
  }
  .highlighted,
  th {
    background-color: bisque;
    font-weight: bold;
    padding: 0 10px;
  }
  .redText {
    color: red;
    font-weight: bold;
  }
  .bigText {
    font-weight: bold;
  }
  .italicise {
    font-style: italic;
    font-size: 12px;
  }
  