html,
body {
  margin: 0;
  padding: 0;
  font-size: 14px; /* 16px=1em=100%*/
}
body {
  /* width: 980px; */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-image: linear-gradient(to bottom, #87bbe9, #fff);
}
.logo {
  width: 15%; /* 160px;*/
  margin: 0;
  transform: scale(1.1);
  float: left;
}
.titl {
  position: absolute;
  top: 10%;
  font-size: inherit;
  left: 15%;
  margin: 0 auto;
  background-color: transparent;
}
h1 {
  display: inline-block;
  margin: 0;
  position: relative;
  font-size: 300%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode";
}

h2 {
  font-size: 200%;
}

header::after {
  clear: both;
  content: "";
  display: block;
}

nav {
  background-color: black;
  color: white;
  position: sticky;
  top: 0;
  padding: 1% 1.2%;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

li {
  display: inline-block;
}
nav li {
  /* margin: 0px 240px 0px 10px; */
  margin: 0px 15% 0px 1%;
  font-size: 100%;
}
li > a {
  text-decoration: none;
  color: white;
  font-size: 100%;
}
li:last-of-type {
  margin-right: 0;
}
.container {
  width: 80%; /**980px;*/
  margin: 0 auto;
  background-color: transparent;
}

main {
  height: 100vh;
}
.col {
  margin: 0;
  padding: 0;
  float: left;
}

.left {
  width: 65%;
}

.right {
  width: 30%;
  margin-left: 5%;
}

.container::after {
  clear: both;
  content: "";
  display: block;
}

.main-img {
  width: 30%;
  height: 30%;
  margin-right: 10px;
  margin-bottom: 10px;
  float: left;
}

.img-thmb {
  width: 100%;
  display: inline-block;
}

.hey {
  width: 45%;
}

@media screen and (max-width: 990px) {
  body {
    font-size: 14px; /* 16px=1em=100%*/
  }
  .container {
    width: 90%;
    margin: 0 auto;
    background-color: transparent;
  }
  .titl {
    top: 5%;
    left: 20%;
  }

  main {
    box-shadow: none;
  }
}

@media screen and (max-width: 790px) {
  body {
    font-size: 15px; /* 16px=1em=100%*/
  }

  nav li {
    /* margin: 0px 240px 0px 10px; */
    margin: 0px 10% 0px 1%;
  }

  .titl {
    top: 5%;
    left: 20%;
  }
}

@media screen and (max-width: 600px) {
  body {
    color: rgb(22, 61, 14);
    font-size: 15px; /* 16px=1em=100%*/
  }
  .titl {
    top: 5%;
    left: 20%;
  }

  .col {
    float: none;
  }

  .left {
    width: 100%;
    line-height: 20px;
  }

  .right {
    width: 100%;
    margin: 0 0;
  }
  main {
    height: auto;
  }
  h2 {
    margin: 5% 0 5% 0;
    font-size: 150%;
  }

  h1 {
    font-size: 200%;
  }

  .img-thmb {
    width: 100%;
    display: inline-block;
  }
  .hey {
    width: 25%;
  }
}

@media screen and (max-width: 536px) {
  nav li {
    /* margin: 0px 240px 0px 10px; */
    margin: 0px 7% 0px 1%;
  }
}

@media screen and (max-width: 490px) {
  .titl {
    top: 3%;
  }

  .main-img {
    width: 40%;
    height: 40%;
  }
}

@media screen and (max-width: 440px) {
  nav li {
    /* margin: 0px 240px 0px 10px; */
    margin: 0px 5% 0px 1%;
  }
  .titl {
    top: 2%;
  }
}

@media screen and (max-width: 400px) {
  nav li {
    /* margin: 0px 240px 0px 10px; */
    margin: 0px 2% 0px 1%;
  }
}
