@charset "UTF-8";

/*reset*/
html,
body,
ul,
p {
  margin: 0;
  padding: 0;
}

body {
  font-size: 14px;
  width: 1345px;
  margin: 0px auto;
  font-family: "Montserrat", sans-serif;
}
h1,
h2 {
  margin-bottom: 40px;
  font-weight: 400;
}

h2 {
  font-size: 24px;
}

header {
  background-color: white;
  display: flex;
  padding: 5px 0px;
}

section,
footer {
  padding-top: 30px;
  padding-bottom: 50px;
}

.logo {
  margin: 5px 10px 0px 10px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover,
a:active {
  color: #488bf8;
}

.logo img {
  width: 100px;
}

.top-navigation {
  width: 850px;
  border-left: #eee8e8 2px solid;
}
.nav-links {
  list-style-type: none;
  position: absolute;
  top: 5px;
}
.curr {
  padding: 15px 15px;
  display: inline-block;
  font-weight: 500;
}

.flag {
  position: relative;
  width: 25px;
  height: 25px;
  top: 8px;
}
.signin {
  border-left: #eee8e8 2px solid;
}
.signin a {
  display: inline-block;
  margin: 10px 30px 10px 30px;
  text-transform: uppercase;
  font-weight: bold;
  color: #488bf8;
}

.signin button {
  padding: 10px 5px;
  border-radius: 5px;
  background-color: #fff;
  color: #488bf8;
  text-transform: uppercase;
  border: 1px #488bf8 solid;
  display: inline-block;
  width: 150px;
  font-size: 14px;
  font-weight: bold;
}

.nav-list-items {
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 14px;
  font-weight: 500;
}

.nav-list-items:last-child {
  font-size: 30px;
}

.search-pod input[type="text"],
.search-pod select,
.search-pod button {
  padding: 30px 20px;
  border-radius: 2px;
  cursor: pointer;
  font-size: 18px;
  display: block;
  width: 502px;
  border: none;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.15);
  margin-bottom: 5px;
}
.dates > input[type="text"] {
  display: inline-block;
  width: 234px;
}
.dates input:last-child {
  border-left: 2px #e7e7e7 solid;
  margin-left: -10px;
}
main {
  width: inherit;
  background-image: linear-gradient(to bottom, #f68a73, #ffdf8f, #fff);
}
.skyline {
  width: 650px;
  margin-left: -50px;
  display: inline-block;
  margin-top: 90px;
}

.searchNDeals {
  width: 1250px;
  margin: 0 auto;
  height: 610px;
}
.searchNDeals::after {
  clear: both;
  content: "";
  display: block;
}
.search-pod {
  width: 600px;
  float: left;
  color: #fff;
}

.search-pod h2 {
  text-transform: uppercase;
  margin-bottom: 0px;
  font-weight: 500;
  letter-spacing: 1px;
}
.search-pod h3 {
  margin-top: 2px;
  font-weight: 500;
}
.choices > h3 {
  margin-left: 10px;
  font-weight: 500;
  display: inline-block;
  padding-bottom: 10px;
}

.search-pod select {
  width: 340px;
  color: #535050;
  display: inline-block;
}
.search button {
  width: 200px;
  color: #fff;
  background-color: #488bf8;
  display: inline-block;
  cursor: pointer;
}
button:hover {
  background-color: #65a4d1;
  color: #fff;
}

.choices {
  color: #fff;
}
.choices .selected {
  border-bottom: 4px solid rgb(0, 102, 255);
}

.deals {
  margin-left: 10px;
  margin-top: -30px;
}

.deal-detail {
  cursor: pointer;
  height: 300px;
  width: 310px;
  color: #fff;
  float: left;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.15);
  background-color: pink;
}

.deal-detail:hover,
.deal-detail:nth-of-type(1):hover {
  background-color: #0283df;
}
.deal-detail:nth-of-type(1) {
  margin-right: 30px;
  background-color: #6fb6e9;
}
.deal-detail:nth-of-type(1) p:nth-of-type(1) {
  font-size: 25px;
  text-align: center;
  margin-top: 20px;
  text-transform: uppercase;
}
.deal-detail:nth-of-type(1) p:nth-of-type(2) {
  font-size: 75px;
  font-weight: bold;
  text-align: center;
}
.deal-detail:nth-of-type(1) p:nth-of-type(3) {
  font-size: 20px;
  text-align: center;
}
.deal-detail:nth-of-type(1) p:nth-of-type(4) {
  font-size: 12px;
  font-weight: bold;
  line-height: 20px;
  margin: 10px 30px;
  color: #064877;
  text-align: center;
}
.deal-btn {
  padding: 10px 10px;
  border-radius: 1px;
  background-color: #fff;
  color: #488bf8;
  text-transform: uppercase;
  border: 1px #488bf8 solid;
  display: inline-block;
  margin: 10px 60px;
  font-size: 12px;
  font-weight: bold;
}

/* .deal-detail-scroll::before{
  clear: both;
  content: "";
  display: block;
} */

.deal-host {
  height: 110px;
  width: 310px;
}
.deal-detail:nth-of-type(2) p:nth-of-type(1) {
  font-size: 25px;
  text-align: center;
  color: #064877;
  font-weight: bold;
  margin-top: 20px;
  text-transform: uppercase;
}
.deal-detail:nth-of-type(2) p:nth-of-type(2) {
  font-size: 12px;
  line-height: 20px;
  margin: 10px 30px;
  color: #064877;
  text-align: center;
}

.deal-btn-pink {
  padding: 10px 10px;
  border-radius: 1px;
  background-color: #fff;
  color: rgb(243, 138, 156);
  text-transform: uppercase;
  border: 1px rgb(243, 138, 156) solid;
  display: inline-block;
  margin: 10px 60px;
  font-size: 12px;
  font-weight: bold;
}
.deal-detail-scroll {
  height: 280px;
  float: left;
  width: 650px;
  margin-top: 10px;
  background-color: pink;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.15);
}
.deal-detail-scroll p:nth-of-type(1) {
  font-size: 25px;
  text-align: center;
  color: #000;
  font-weight: 500;
  margin-top: 20px;
  text-transform: uppercase;
}

.reviews {
  width: inherit;
  text-align: center;
  background-color: rgb(255, 255, 255);
}

.review--detail {
  width: 1000px;
  margin: 0 auto;
}

.review--detail::after {
  clear: both;
  content: "";
  display: block;
}

.first,
.second,
.third {
  float: left;
  width: 310px;
  border: 1px rgba(168, 165, 165, 0.274) solid;
  border-bottom: 4px solid rgb(0, 102, 255);
  margin-right: 20px;
  min-height: 250px;
}

.third {
  margin-right: 0px;
}

.review-title {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
  color: #0283df;
}
.review-location {
  font-size: 16px;
  margin-top: 20px;
  color: #85888a;
  margin-bottom: 30px;
}

.review {
  margin: 10px 20px;
  font-size: bold;
  font-size: 14px;
  line-height: 20px;
}

.most-popular {
  width: inherit;
  text-align: center;
  background-color: #fff;
}

.city-img {
  width: 150px;
  height: 150px;
  position: relative;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  cursor: pointer;
  transition: all 0.5s;
}
.city-img:hover {
  transform: scale(1.1);
}

.city-img > img {
  display: inline-block;
  padding: 0;
  margin: 0;
  width: 150px;
  height: 150px;
}
.city-img span {
  color: #fff;
  font-weight: bold;
  position: absolute;
  top: 10px;
  left: 10px;
}

.imp--links {
  background-color: #e7e7e7;
  padding-left: 100px;
}
.links {
  width: 1300px;
}

.links--list,
.links--list > ul {
  list-style: none;

  display: inline-block;
  color: #535050;
  width: 250px;
  font-size: 12px;
  margin: 0px auto;
}

.links--list ul li {
  cursor: pointer;
}

.links--list h4 {
  font-weight: 500;
}
.links--list > ul {
  padding: 0px 0px;
}

.country--links {
  background-color: #fff;
  padding-left: 100px;
}

footer {
  background-color: rgb(48, 46, 46);
  color: rgb(184, 179, 179);
  text-align: center;
}

/*************************************************************
      Search.html
**************************************************************/
.searchbar {
  background-color: #515b62; /* rgb(48, 46, 46);*/
  padding: 5px 5px;
  position: sticky;
  left:0;
  top:0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.searchbar input[type="text"],
.searchbar select,
.searchbar button {
  padding: 10px 10px;
  border-radius: 1px;
  width: 240px;
  font-size: 14px;
  color: #828688;
  font-weight: bold;
  border: none;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.15);
  margin: 5px 5px 5px 0px;
}

.searchbar button {
  width: 100px;
  color: #fff;
  background-color: #488bf8;
  display: inline-block;
  cursor: pointer;
}

.advanced-search {
  display: flex;
  justify-content: center;
}
.price-per-night,
.star-rating,
.location-rating,
.localsearch {
  border: 1px #e7e7e7 solid;
  padding: 2px 2px;
  width: 280px;
  min-height: 100px;
}

.localsearch p {
  font-weight: bold;
  color:#515b62;
  font-size: 12px;
  padding: 2px 10px;
}
.localsearch input[type='text']{
  padding: 10px 10px;
  margin: 10px 10px;
  width: 200px;
  border-radius: 2px;
  border: #9ea0a1 1px solid;
}

.room-filter-tab{
  display: flex;
  width: 1300px;
  margin-left: 60px;
  margin-top: 20px;
  padding: 20px 40px;
}
.tabs
{
  padding: 20px 70px;
  font-size: 14px;  
  color:#000;
  font-weight: bold;
  border: 1px #e7e7e7 solid;
  background-color: #f7f7f7;
}
.tabs.selecte{
  background-color: white;
  color:rgb(0, 102, 255);
  border:none;
  font-weight: bold;
  border-top: 4px solid rgb(0, 102, 255);
}
.empty{
  border:none;
  width: 360px;
  background-color: white;
  border-bottom:1px #e7e7e7 solid;
}

.results{
  display: flex;
  margin-left: 60px;
  margin-top: 20px;
  padding: 20px 40px;
  background-color: #ffdf8f;
}
aside{
  width:250px;
  background-color: brown;
}
article{
  width: 900px;
  background-color: yellow;
}
